%button {
	font-size: $base-font-unit * 1; 
	margin-bottom: $base-unit;
	padding: $base-unit * 0.5 $base-unit * 1.5; 
	color: white; 
	border-radius: $base-unit * 0.5;
	border: none; 
}

#numValues { 
	height: 50px; 
	width: 100%; 
	font-size: 16px; 
	vertical-align: middle; 
}

#submit 						{ margin-right: $base-unit; }
#submit, #restart { 
	@extend %button;
	background-color: $primary;
}
#submit:hover, #restart:hover 	{ background-color: $secondary; }

.button_container 				{ margin: $base-unit * 3 0; }

#newTotalXp { 
	background-color: black; 
	padding: $base-unit 0; 
	width: 100%; 
	color: white; 
	font-size: $base-font-unit * 2;
	margin-top: $base-unit; 
}

#nextLevelCalc { 
	margin-top: 20px; 
	color: #D50000;
	font-size: $base-font-unit * 1.1; 
}

.content { 
	text-align: center; 
	font-size: 1.4em; 
}

select 							{ margin: 0 auto 10px; }

.calculator_container {
	padding-top: $base-unit * 4;
	height: 100vh;
}