* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, a:active, a:focus, a:hover { text-decoration: none; }

body { 
	background-color: #37474F; 
	font-family: $font-family-body; 
	color: white; 
	margin: 0; 
	font-size: $font-size-body;
	z-index: 0; 
	min-height: 100%;
}

h1 { 
	font-family: $heading-font-family;
	margin-bottom: $base-unit * 4; 
	margin-top: 0; 
	text-align: center;
	font-size: $base-unit * 3;
}

h2 {
	color: #37474F; 
	font-size: $base-font-unit * 1.5;
}

a { 
	text-decoration: none; 
	color: #78909C;

	&:hover { color: white; }
}

#content_wrap { 
	z-index: 500; 
	text-align: center; 
	font-family: 'Roboto', sans-serif; 
	-webkit-transition: opacity .6s; 
	-moz-transition: opacity .6s; 
	-o-transition: opacity .6s; 
	transition: opacity .6s; 
	background-color: white;
	padding: $base-unit * 2;
	width: 30%;
	border-radius: $base-unit * 2;
	margin: 0 auto;
}

footer { 
	margin-top: $base-unit * 10; 
	color: #546E7A; 
	padding-bottom: $base-unit; 
	text-align: center;
	font-size: $base-font-unit * 1.2;

	a { margin-left: $base-unit * 0.3; }
}
