#instructions { 
	width: 400px; 
	height: 400px; 
	background-color: #455A64; 
	color: #ECEFF1; 
	padding: 20px; 
	position: absolute; 
	right: 35px; 
	bottom: 40px; 
	top: 40px; 
	z-index: 500; 
	border-radius: 5px; 
	text-align: left;
}
#instructions ul { 
	text-align: left; 
	padding: 20px; 
}
#instructions li { 
	list-style-type: circle; 
}