$primary: 		    #8E24AA;
$black: 	        #000;
$action: 	        #26C6DA;
$white:             #fff;
$base-unit: 		  1rem;
$base-font-unit: 	  1rem;
$font-size-body: 	  62.5%;
$font-family-body: 	  'Roboto', sans-serif;
$heading-font-family: 'Orbitron', sans-serif;