$primary: 		    #8b00dd;
$secondary: 	        #4DB6AC;
$base-unit: 		  1rem;
$base-font-unit: 	  1rem;
$font-size-body: 	  62.5%;
$font-family-body: 	  'Roboto', sans-serif;
$heading-font-family: 'Press Start 2P', sans-serif; 