<!DOCTYPE html>
<html ng-app="demo" ng-controller="ctrl" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Revyn Tools: XP Calculator | Your RPG Companion!">
        <title>Revyn Tools: XP Calculator</title>
        <link rel="stylesheet" href="files/angular-material.min.css">
        <link rel="stylesheet" href="files/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto" rel="stylesheet"> 
        <link rel="stylesheet" href="files/style.css" />
        <script src="files/jquery.min.js"></script>
        <script src="files/angular.min.js"></script>
        <script src="files/angular-animate.min.js"></script>
        <script src="files/angular-aria.min.js"></script>
        <script src="files/angular-messages.min.js"></script>
        <script src="files/angular-material.min.js"></script>
        <script src="files/app.js"></script>
    </head>
    <body>
        <div class="loading" ng-show="!loaded">
            <img src="files/rolling.gif" alt="loading animation"/>        
        </div>
        <div id="container" ng-show="loaded">
            <i class="fa fa-info-circle" aria-hidden="true" ng-click="showInstructions()"></i>

            <md-content>
                <header>
                    <h1>XP Calculator</h1>
                </header>
                <section>
                    <div class="content_wrap">
                        <md-input-container class="md-block">
                            <label for="charName">Character Name</label>
                            <input type="text" id="charName" data-inset="true" ng-model="name">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="charLevel">Character Level</label>
                            <input type="text" id="charLevel" data-inset="true" ng-model="level">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="currXp">Current XP</label>
                            <input type="number" id="currXp" data-inset="true" ng-model="xp">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="newXp">Newly Earned XP</label>
                            <input type="number" id="newXp" data-inset="true" ng-model="newXp">
                        </md-input-container>
                        <button type="submit" value="submit" id="submit" ng-click="submit()">Compute</button>
                        <br />
                        <label for="newTotalXp">New Current XP</label>
                        <div id="newTotalXp">
                            {{ totalXp }}
                        </div>
                        <br />
                        <div id="nextLevelCalc" ng-show="!errorFound">
                            <p>You are&nbsp;{{ neededXp }}xp from level&nbsp;{{ nextLevel }}.</p>
                        </div>
                    </div>
                </section>
            </md-content>
            <aside id="instructions" ng-show="activeInstructions">
                    <h2>How to use</h2>
                    <ul>
                        <li>This is a calculator for table-top role-playing games.</li>
                        <li>Character Levels go from 1 to 20.</li>
                        <li>Your current XP should make sense based on the game you are playing.</li>
                        <li>Your totals will be stored and update as you enter new information throughout your game.</li>
                        <li>For now you only can use this for one character at a time.</li>
                    </ul>
                    <p>Click on or tab the icon to close</p>
            </aside>
            <footer>
                <small>&copy;2016 <a href="http://www.meinnovation.net" target="_blank">ME Innovation</a></small>
            </footer>
        </div>
    </body>
</html>