body {
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
}

h1 {
	color:#903;
	font-size: 2em;
}

ul {
	display: block;	
}

.controls {
	float: right;	
}

#numValues {
	height: 30px;
	width: 100%;
	vertical-align:middle;
	padding: 5px;
}

.hidden {
	display: none;	
}

#newTotalXp {
	background: #fff;
	height: 50px;
	width: 100%;
	color: #C30;
	font-size: 16px;
}

.content {
	text-align: center;
	font-size: 1.4em;
}

h3 {
	text-align:center;	
}

@media (max-width: 640px) {
	.content {
	text-align: left;
	}
}